// Sass快速入門 - 變數與樣式內聯的寫法

$primary-color: #3e3e3e;
$secondary-color: #fff;

body {
  background-color: $primary-color;
}

.title {
  color: $secondary-color;
}


.box {
  .title {
    font-size: 64px;
    color: rgb(99, 99, 236);
  }
}
